body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #323f4c;
	font-size: 13px;
	cursor: pointer;
}
.container-fluid {
	width: 100%;
}

#top-bar{
	background: #38669B;
	padding: 7px;
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 10px;
	border-bottom: 1px solid #2E537D;
}

.content {
	margin: 20px 0 0 0;
}

#user-feed {
	display: none;
	transition: all 3s ease;
}

#user-feed.transition {
	display: block;
}

.tweet, .feed-heading, #update-stream, #back-to-stream {
	padding: 15px 7px;
	border-radius: 3px;
	margin: 7px 0 0 0;
}
.tweet:last-child {
	margin: 0 0 15px 0;
}
#update-stream, #back-to-stream {
	color: #EF9426;
	font-size: 12px;
}
.feed-heading {
	margin: 0;
}
.timestamp {
	position: relative;
	color: #92a5b7;
	left: 5px;
	font-size: 12px;
}
.message {
	margin: 0;
}
.user-link:hover {
	text-decoration: none;
	cursor: pointer;
}
.button {
	background: transparent;
	color: #23527c;
	border: none;
	border-radius: 3px;
	padding: 7px;
	width: 100%;
}
.hide {
	display:none;
}
