body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #323f4c;
	font-size: 13px;
	cursor: pointer;
	background: #FFFFFF;
}
.container-fluid {
	width: 100%;
}
#write-message{
	position: relative;
	font-size: 12px;
	color: #38669B;
}
#write-message:hover {
	color: #64ACFC;
	text-decoration: none;
}
#top-bar{
	background: #315779;
	padding: 7px 0;
	color: #6CB4F4;
	margin-bottom: 10px;
	border-bottom: 1px solid #2E537D;
}
#home-link {
	font-size: 15px;
	padding: 9px;
}
#home-link:hover{
	color: #FFFFFF;
}
.button.write{
	color: #FFFFFF;
}
.content {
	margin: 20px 0 0 0;
}
#user-feed {
	display: none;
}

#user-feed.transition {
	display: block;
}
.tweet, .feed-heading, #update-stream, #back-to-stream {
	padding: 15px 7px;
	border-radius: 3px;
	margin: 7px 0 0 0;
}
.tweet:last-child {
	margin: 0 0 15px 0;
}
#update-stream, #back-to-stream {
	color: #FF9324;
	font-size: 12px;
}
#update-stream:hover, #back-to-stream:hover {
	color: #FF7A23;
}
.feed-heading {
	margin: 0;
}
.timestamp {
	position: relative;
	color: #92a5b7;
	left: 5px;
	font-size: 12px;
}
.message {
	margin: 0;
}
.user-link:hover {
	text-decoration: none;
	cursor: pointer;
}
.button {
	background: transparent;
	color: #23527c;
	border: none;
	border-radius: 3px;
	padding: 7px;
	width: 100%;
}
.hide {
	display:none;
}
